#root {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}


.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.hero {
  text-align: center;
  margin-bottom: 50px;
}

.cta-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: #3e8e41;
}

.cta-button:focus {
  background-color: #3e8e41;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 5, 56)}